// SUSE v2.001 release, full variable webfonts. See static/fonts/SOURCES.md.
// License: /fonts/SUSE-OFL.txt (SIL Open Font License 1.1).
@font-face {
  font-family: 'SUSE';
  src: url('/fonts/suse-v2.001-normal.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUSE';
  src: url('/fonts/suse-v2.001-italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-sans: 'SUSE', system-ui, sans-serif;
}
