@import  "blog-main";
@import "main";

:root {
    --primary-color   : #c70a41;
    --secondary-color : #5b0700;
    --dark            : #0f0f0f;
    --light           : #ffffff;
  }

.bg-primary h1, .bg-primary h4 {
    color: var(--light);
}

a.btn {
  color: var(--dark) !important;
}

nav a.btn {
  color: var(--light) !important;
}

.folder h4 {
  color: var(--dark);
}

section.wrap {
  h3 {
    font-weight: 500;
  }

  p,
  li {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }

  ul {
    display: block;
    padding-left: revert;
  }

  li {
    display: list-item;
    border-bottom: none;
    padding: revert;
  }

  time {
    font-size: 1.5rem;
  }
}

.font-weight-light {
  font-weight: 300;
}

/* Blog header */
intro h1 a {
    color: white;
    text-decoration: none;
}

figure.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figure.floatright {
  max-width: 30%;
  height: auto;
  float: right;
}

figure.floatleft {
  max-width: 30%;
  height: auto;
  float: left;
}


//[> Pagination <]

.nested-list-reset ul,
.nested-list-reset ol {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
  flex-direction: row;
  display: flex !important;
}

.nested-links a {
  color: #0594cb;
  text-decoration: none;
}

.nested-links a:hover,
.nested-links a:focus {
  color: #96ccff;
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}

.pagination {
  margin: 3rem 0;
}

.pagination li {
  display: inline-block;
  margin-right: .375rem;
  margin-bottom: 2.5em;
}

.pagination li a {
  padding: .5rem .625rem;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
}

.pagination li.disabled {
  display: none;
}

.pagination li.active a {
  border-color: #5b0700;
}

.pagination li.active a:link,
.pagination li.active a:active,
.pagination li.active a:visited {
  background-color:#ddd;
}
