@import  "blog-main";
@import "main";

:root {
    --primary-color   : #c70a41;
    --secondary-color : #5b0700;
    --dark            : #0f0f0f;
    --light           : #ffffff;
  }

.bg-primary h1, .bg-primary h4 {
    color: var(--light);
}

a.btn {
  color: var(--dark) !important;
}

nav a.btn {
  color: var(--light) !important;
}

.folder h4 {
  color: var(--dark);
}

section.wrap {
  h3 {
    font-weight: 500;
  }

  p,
  li {
    font-size: 2.1rem;
    line-height: 2.8rem;
  }

  ul {
    display: block;
    padding-left: revert;
  }
  
  li {
    display: list-item;
    border-bottom: none;
    padding: revert;
  }

  time {
    font-size: 1.5rem;
  }
}

.font-weight-light {
  font-weight: 300;
}

/* Blog header */
intro h1 a {
    color: white;
    text-decoration: none;
}

figure.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figure.floatright {
  max-width: 30%;
  height: auto;
  float: right;
}

figure.floatleft {
  max-width: 30%;
  height: auto;
  float: left;
}
