{{ define "main" }}
  <link rel="stylesheet" href="/css/blog.css"/>

  <section class="intro">
    <div class="bg-primary">
      <div class="wrap grid-one">
        <div>
          <h1 style="color: white;">
            <a href="/blog">The Kubewarden blog</a>
            <a href="/blog/index.xml">
              <img src="/images/icon-rss.svg" class="fill-white" height="20">
            </a>
          </h1>
        </div>
      </div>
    </div>
  </section>

  <main>
  	<section class="wrap">
  		<article>
  			<h1>{{ .Title }}</h1>
        <author>{{ delimit .Params.authors ", " " and "}}</author>
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
        <div id="blog-post-content">
  				{{ .Content }}
  			</div>
  			<div>
  				<ul id="tags">
  					{{ range .Params.tags }}
  					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
  					{{ end }}
  				</ul>
  			</div>
  			<div>
  				{{ template "_internal/disqus.html" . }}
  			</div>
  		</article>
  	</section>
  </main>
{{ end }}
