<section class="section-partners">
  <div class="wrap-lg partners-grid">
    <div class="partner">
      <p class="partner-label">Originally developed by</p>
      <a href="https://www.rancher.com/">
        <img src="/images/rancher-suse-logo-horizontal-color.png" alt="Rancher by SUSE" class="partner-logo partner-logo--rancher">
      </a>
    </div>
    <div class="partner">
      <p class="partner-label">Kubewarden is a CNCF Sandbox Project</p>
      <a href="https://www.cncf.io/">
        <img src="/images/cncf-color.png" alt="Cloud Native Computing Foundation" class="partner-logo partner-logo--cncf">
      </a>
    </div>
  </div>
</section>
