<footer>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
	<div class="project-icons">
		<a href="https://kubernetes.slack.com/?redir=%2Fmessages%2Fkubewarden" target="blank">
			<img src="/images/icon-slack.svg" height="20">
		</a>
		<a href="https://twitter.com/kubewarden" target="blank">
			<img src="/images/icon-twitter.svg" height="20">
		</a>
		<a href="https://github.com/kubewarden" target="blank">
			<img src="/images/icon-github.svg" height="20">
		</a>
	</div>
</footer>
