<header>

	<div class="sub-header">
    <a class="navbar-brand" href="/">
      <img  src="/images/logo-{{lower .Site.Title }}.svg" alt="{{ .Site.Title }}">
    </a>
    <!-- nav -->
    {{ with .Site.Menus.main }}


    <nav>
      <ul class="menu">
        <li><a href="/blog" class="btn no-bg">Blog</a></li>
        {{ range . }}
        <li><a href="{{ .URL }}" class="btn no-bg" target="_blank">{{ .Name }}</a></li>
        {{ end }}
        <!-- github  -->
        <li><a href="{{ $.Site.Params.github }}" class="btn"><img src="/images/icon-github.svg"><span>Github</span></a></li>
      </ul>
    </nav>
    {{ end }}
  </div>

</header>
